.header{
    margin-left:50px;
    margin-top:30px;
    background-color: ;
    /* color: white; */
}
.head{
    font-size: 23px;
    font-weight: bold;
}

.options{
    float: right;
    width:300px;
    /* border: 1px solid black; */
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
}
.btn0{
    font-weight: 500;
    font-size: 18px;
    margin-left: 12%;
    padding:5px 20px;
    border: none;
    border-bottom:1px solid white;
    cursor: pointer;
}

.btn0:hover{
    border-bottom:3px solid white;
}

.btn{
    font-weight: 500;
    font-size: 18px;
    margin-left: 6%;
    padding:5px 20px;
    border: none;
    border-bottom:1px solid white;
    margin-top:3%;
    cursor: pointer;
}

.btn:hover{
    border-bottom:3px solid white;
}
.box{
    /* border: 1px solid white; */
    margin:auto auto;
    margin-top: 4vh;
    width:90vw;
}
.nav{
    width:100%;
    /* background-color: red; */
    border:2px solid white;
    height:20vh;
    text-align: center;
}
.data{
    width:100%;
    float:right;
    height:70%;
    /* background-color: blue; */
    border: 1px solid white;
}

.welcome{
    width:50%;
    height: 50%;
    background-color: white;
}