.header{
    margin-left:50px;
    margin-top:30px;
    /* color: white; */
}
.head{
    font-size: 23px;
    font-weight: bold;
}

.options{
    float: right;
    width:300px;
    /* border: 1px solid black; */
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
}
.btn0{
    font-weight: 500;
    font-size: 18px;
    margin-left: 12%;
    padding:5px 20px;
    border: none;
    border-bottom:1px solid white;
    cursor: pointer;
}

.btn0:hover{
    border-bottom:3px solid white;
}

.btn{
    font-weight: 500;
    font-size: 18px;
    margin-left: 6%;
    padding:5px 20px;
    border: none;
    border-bottom:1px solid white;
    margin-top:3%;
    cursor: pointer;
}

.btn:hover{
    border-bottom:3px solid white;
}
.box{
    /* border: 1px solid white; */
    margin:auto auto;
    margin-top: 4vh;
    width:90vw;
}
.nav{
    width:100%;
    /* background-color: red; */
    border:2px solid white;
    height:20vh;
    text-align: center;
}
.data{
    width:100%;
    float:right;
    height:70%;
    /* background-color: blue; */
    border: 1px solid white;
    padding-bottom: 50px
}

.welcome{
    width:50%;
    height: 50%;
    background-color: white;
}

@media(max-width:500px){
    .header{
        margin-left:30px;
        margin-top:5px;
        margin-right:20px;
        padding-top: 30px;
        width:90%;
        /* color: white; */
        /* border:1px solid black; */
        display: inline block;
    }
    .options{
        float:none;
        margin:0 0;
        /* margin-top: 20px; */
        margin-left:1%;
        width:50px;
        /* border: 1px solid black; */
        display: inline;
        font-size: 18px;
        font-weight: 500;
    }
    .btn0{
        font-weight: 500;
        font-size: 18px;
        margin-left: 1%;
        padding:5px 20px;
        border: none;
        border-bottom:1px solid white;
        cursor: pointer;
    }
}