*{
    background-color: white;
}

.box{
    padding: 20px;
    width:30%;
    height:30%;
    background-color: white;
    margin-left:2.5%;
    margin-top:1%;
    margin-bottom: 1%;
    border-radius:20px ;
    display: inline-block;
    cursor: pointer;
}

hr{
    margin: 3% 0;
}
.head{
    font-size: 105%;
}
.box:hover{
    background-color: rgb(218, 238, 255);
    transition: 0.3s ease;
}
.box:hover .head{
    background-color: rgb(218, 238, 255);
    transition: 0.3s ease;
}