*{
    background-color: white;
}
.log{
    /* text-align: center; */
    margin:0 10%;
    width: 70%;
    min-height:80vh;
}
.r1{
    margin-top: 10%;
    padding-bottom: 40px;
    display: inline-block;
    text-align: center;
    width:50%;
}
hr{
    color: black;
    width:80%;
    margin:0 10%;
}
.toggle-btn1{
    text-align: center;
    padding:7px;
    -webkit-appearance: none;
    border:1px solid black;
    border-radius: 100px;
    width:60%;
    height:35px;
    cursor: pointer;
}
.toggle-btn1::before{
    content: 'USER';
}
.toggle-btn2{
    text-align: center;
    padding:7px;
    -webkit-appearance: none;
    border:1px solid black;
    border-radius: 100px;
    width:60%;
    height:35px;
    cursor: pointer;
}
.toggle-btn2::before{
    content: 'COMPANY';
}
.toggle-btn1:checked{
    background-color: black;
    color: white;
}
.toggle-btn2:checked{
    background-color: black;
    color: white;
}

.login{
    margin: 7% 0;
    text-align: center;
}

.fields{
    width:80%;
    height: 30px;
    margin-top:8%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}
input[type="text"]
{
    font-size:20px;
}
input[type="password"]
{
    font-size:20px;
}
.btn0{
    background-color: aliceblue;
    text-decoration: none;
    color:black;
    font-size: 15px;
    margin-left: 70px;
    width:35%;
    padding:10px 20px;
    border:1px solid white;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn0:hover{
    background-color: rgb(173, 173, 186);
}
.btn{
    margin-top:5%;
    width:30%;
    padding:10px 20px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn:hover{
    background-color: black;
    color: white;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:left;
    margin-left:11%;
    color: red;
}

.error p{
    margin-top:5%;
}

@media(max-width:500px){
    .log{
        border-radius: 30px;
        margin: 0 10%;
        width: 80%;
        min-height: 70vh;
    }
}