<div *ngIf="this._ls.isLoading|async" class="loader-container">
    <mat-progress-bar class="bar" mode="indeterminate"></mat-progress-bar>
</div>
<div class="header">
    <span class="head"><fa-icon [icon]="faCar"></fa-icon> Park On!!</span>
    <div class="options">
        <span>Hi {{name}}</span>
        <button (click)="onLogout()" class="btn0">Logout</button>
    </div>
</div>

<div class="box">
    <form #areaForm="ngForm">
        <span>General Details:</span>
        <br><br>
        <p>Parking Area Name: {{area.pName}}</p>
        <p>Address: {{area.pAddress}}</p>
        <p>City: {{area.pCity}}</p>
        <p>State: {{area.pState}}</p>
        <p>Contact Number: <input #num="ngModel" class="number" name="num" type="text" [(ngModel)]="area.pNumber"></p>
        <span>SLOT Details:</span>
        <br><br>
        <p>Two Wheeler: <input #two_total="ngModel" class="number" name="two_total" type="text" [(ngModel)]="this.area.two_wheeler_total"></p>
        <p>Four Wheeler: <input #four_total class="number" name="four_total" type="text" [(ngModel)]="area.four_wheeler_total"></p>
        <span>SLOT Availability Details:</span>
        <br><br>
        <p>Two Wheeler: <input #two_taken="ngModel" class="number" name="two_taken" type="text" [(ngModel)]="area.two_wheeler_taken"></p>
        <p>Four Wheeler: <input #four_taken="ngModel" class="number" name="four_taken" type="text" [(ngModel)]="area.four_wheeler_taken"></p>
    </form>
    <button (click)="onSave()"class="btn1">Save and Close</button>
    <button (click)="onDelete()" class="btn2">Delete</button>
</div>