.header{
    margin-left:50px;
    padding-top: 30px;
    /* margin-top:30px; */
    /* background-color: ; */
    /* color: white; */
}
.head{
    font-size: 23px;
    font-weight: bold;
}

.options{
    float: right;
    width:300px;
    /* border: 1px solid black; */
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
}
.btn0{
    font-weight: 500;
    font-size: 18px;
    margin-left: 12%;
    padding:5px 20px;
    border: none;
    border-bottom:1px solid white;
    cursor: pointer;
}

.btn0:hover{
    border-bottom:3px solid white;
}

.box{
    font-size: 16px;
    padding:40px 40px;
    height:75vh;
    background-color: white;
    margin: 5% auto;
    width: 50vw;
    border-radius: 20px;

}
.box p{
    background-color: white;
}
.box span{
    background-color: white;
    font-weight: bold;
}

.box input{
    text-align: center;
    background-color: white;
    border:none;
    outline:none;
    border-bottom:1px solid black;
    width:40px;
}

.box form{
    background-color: white;
}

.box .btn1{
    font-size:16px;
    padding:5px 20px;
    background-color: white;
    border:3px solid rgb(61, 204, 61);
    border-radius:30px;
    margin:5% 5%;
    cursor:pointer;
    transition:0.3s ease;
}

.box .btn2{
    font-size:16px;
    padding:5px 20px;
    background-color: white;
    border:3px solid rgb(243, 114, 114);
    border-radius:30px;
    cursor: pointer;
    transition:0.3s ease;
}

.box .btn1:hover{
    color:white;
    background-color: rgb(61, 204, 61);
}

.box .btn2:hover{
    color:white;
    background-color: rgb(243, 114, 114);
}

@media(max-width:500px){
    .header{
        margin-left:30px;
        margin-top:5px;
        margin-right:20px;
        padding-top: 30px;
        width:90%;
        /* color: white; */
        /* border:1px solid black; */
        display: inline block;
    }
    .options{
        float:none;
        margin:0 0;
        /* margin-top: 20px; */
        margin-left:1%;
        width:50px;
        /* border: 1px solid black; */
        display: inline;
        font-size: 18px;
        font-weight: 500;
    }
    .btn0{
        font-weight: 500;
        font-size: 18px;
        margin-left: 1%;
        padding:5px 20px;
        border: none;
        border-bottom:1px solid white;
        cursor: pointer;
    }
    .box{
        font-size: 16px;
        padding:40px 40px;
        height:80vh;
        background-color: white;
        margin: 5% auto;
        width: 80%;
        border-radius: 20px;
    
    }
    .box p{
        background-color: white;
    }
    .box span{
        background-color: white;
        font-weight: bold;
    }
    
    .box input{
        text-align: center;
        background-color: white;
        border:none;
        outline:none;
        border-bottom:1px solid black;
        width:40px;
    }
    .box .btn1{
        float:left;
        font-size:16px;
        padding:5px 10px;
        background-color: white;
        border:3px solid rgb(61, 204, 61);
        border-radius:30px;
        margin:0 0;
        margin-right: 1%;
        cursor:pointer;
        transition:0.3s ease;
    }
    .box .btn2{
        font-size:16px;
        padding:5px 10px;
        background-color: white;
        border:3px solid rgb(243, 114, 114);
        border-radius:30px;
        cursor: pointer;
        transition:0.3s ease;
    }
}