<div class="box">
    <span class="main-head">{{area.pName}}</span>
    <button (click)="onClick()" class="btn">More Details</button>
    <div class="box1" [class.display-full]="!this.show">
        <span class="details">Address: {{area.pAddress}}</span><br><br>
        <span class="details">Contact No: {{area.pNumber}}</span>
        <br><br>
        <span>AVAILABLE SLOTS:</span>
        <br><br>
        <span class="details">Two Wheeler: <span class="green">{{area.two_wheeler_total-area.two_wheeler_taken}}</span></span><br><br>
        <span class="details">Four Wheeler: <span class="green">{{area.four_wheeler_total-area.four_wheeler_taken}}</span></span>
        <br><br>
    </div>
</div>
