.box{
    width:80%;
    height:10vh;
    margin: 15px auto;
    background-color: white;
    border-radius: 2px;
    padding: 20px 0;
    transition: 0.3s ease;
    margin-bottom: 0;
    /* border-bottom: 1px solid black; */
    transition: 0.3s ease;
}

span{
    /* display: inline-block; */
    width:40%;
    margin-left: 20px;
    font-size: 20px;
    background-color: white;
    color: black;
}

.btn{
    float: right;
    margin-right: 20px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.btn:hover{
    background-color: black;
    color: white;
}

.modal{
    padding-top: 10px;
    width:80%;
    margin:0 auto;
    margin-bottom: 8%;
    background-color: white;
    transition: 0.3s ease;
}

.inner-modal{
    width:100%;
    margin:0 auto;
    background-color: white;
    transition: 0.3s ease;
}

.display-none{
    height:0;
    transition: 0.3s ease;
}

.display-full{
    /* display: block; */
    height:150px;
    transition: 0.3s ease;
}

.details{
    margin: 20px;
}

.green{
    color: rgb(90, 230, 90);;
}

@media(max-width:500px){
    .box{
        width:90%;
        height:10vh;
        margin: 15px auto;
        background-color: white;
        padding: 20px 0;
        transition: 0.3s ease;
        margin-bottom: 0;
        /* border-bottom: 1px solid black; */
        transition: 0.3s ease;
    }
    .modal{
        padding-top: 10px;
        width:90%;
        margin:0 auto;
        margin-bottom: 30%;;
        background-color: white;
        transition: 0.3s ease;
    }
    
    .inner-modal{
        text-align: left;
        width:100%;
        margin:0 0;
        margin-bottom: 5%;
        background-color: white;
        transition: 0.3s ease;
    }
}