.box{
    width:80%;
    min-height:10vh;
    background-color: white;
    border-radius: 20px;
    padding-top: 3%;
    transition: 0.5s ease;
    margin: 0 auto;
    margin-bottom: 1%;
}

span{
    /* display: inline-block; */
    width:40%;
    margin:0 20px;
    font-size: 20px;
    background-color: white;
    color: black;
}

.btn{
    float: right;
    margin-right: 20px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.btn:hover{
    background-color: black;
    color: white;
}

.details{
    margin: 20px;
}

.green{
    color: rgb(90, 230, 90);;
}
.box1{
    height:0;
    overflow: hidden;
    margin-top: 1%;
    width:100%;
    background-color: white;
    /* padding: 3% 2%; */
    border-radius:20px;
    transition: 0.3s ease-in;
    z-index: -1;
}

.display-full{
    height:30vh;
    transition: 0.3s ease-in;
}

.main-head{
    font-weight: bold;
}

@media(max-width:500px){
    .box{
        text-align: left;
        width:85%;
        min-height:10vh;
        background-color: white;
        border-radius: 20px;
        padding-top: 3%;
        transition: 0.5s ease;
        margin: 0 auto;
        margin-bottom: 1%;
    }
    
    span{
        /* display: inline-block; */
        width:25%;
        margin:0 10px;
        font-size: 16px;
        background-color: white;
        color: black;
    }
    
    .btn{
        float: right;
        margin-right: 20px;
        background-color: white;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease-in;
    }
    
    .btn:hover{
        background-color: black;
        color: white;
    }
    
    .details{
        margin: 20px;
    }
    
    .green{
        color: rgb(90, 230, 90);;
    }
    .box1{
        height:0;
        overflow: hidden;
        margin-top: 1%;
        width:100%;
        background-color: white;
        /* padding: 3% 2%; */
        border-radius:20px;
        transition: 0.3s ease-in;
        z-index: -1;
    }
    
    .display-full{
        height:35vh;
        transition: 0.3s ease-in;
    }
    
    .main-head{
        font-size: 16px;
        font-weight: bold;
    }
}