.header{
    /* display: none; */
    padding-top:2% ;
    /* padding-bottom: 2%; */
    width:50%;
    margin:0 auto;
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    /* background-color: red; */
}

@media(max-width:500px){
    .header{
        /* display: none; */
        padding:5% 0 ;
        /* padding-bottom: 2%; */
        width:60%;
        margin:0 auto;
        text-align: center;
        font-size: 24px;
        text-decoration: underline;
        /* background-color: red; */
    }
}