<div *ngIf="this._ls.isLoading|async" class="loader-container">
    <mat-progress-bar class="bar" mode="indeterminate"></mat-progress-bar>
</div>
<div class="header">
    <h2><fa-icon [icon]="faCar"></fa-icon> Park On!!</h2>
</div>
<div class="options">
    <span>Hi {{name}}</span>
    <button (click)="onLogout()" class="btn0">Logout</button>
</div>
<div class="search-box">
    <p><fa-icon [icon]="faMag"></fa-icon> SEARCH LOCATION <fa-icon [icon]="faCar"></fa-icon></p>
    <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
        <input class="fields" type="text" name="location" required #loc="ngModel" placeholder="Enter location" [(ngModel)]="location">
        <br>
        <button [disabled]="searchForm.invalid" class="btn">Search</button>
    </form>
</div>
<div class="res-box" [hidden]="this.search_box">
    <p>SEARCH RESULTS</p>
    <div *ngIf="this.no_res">
        <p class="no-res">No nearby parking locations found!!<p>
    </div>
    <div *ngIf="!this.no_res">
        <app-element1 [area]="area" *ngFor="let area of search_res"></app-element1>
    </div>
</div>
<div class="extra"></div>